[submodule "uberfire"]
	path = uberfire
	url = ../uberfire.git
[submodule "drools-wb"]
	path = drools-wb
	url = ../drools-wb.git
[submodule "kie-wb-distributions"]
	path = kie-wb-distributions
	url = ../kie-wb-distributions.git
[submodule "droolsjbpm-knowledge"]
	path = droolsjbpm-knowledge
	url = git@github.com:shinsuke-nara/droolsjbpm-knowledge.git
